{# ===========================================================
    CE-router master template — eBGP per VRF, multihomed
   =========================================================== #}
{% include "_header.j2" %}

{% include "_ports.j2" %}

{% include "_ce.j2" %}

admin save
